Repository hashgraph/hedera-transaction-tool, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

feat: add mirrorNetwork field and unique constraints to Cached Entities (#2127)
  back-end/libs/common/src/database/entities/caches/cached-account.entity.ts
  back-end/libs/common/src/database/entities/caches/cached-node.entity.ts
  back-end/typeorm/migrations/1766048132624-CachedEntityUniqueness.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

test: add unit tests for transaction and user DTOs with validation checks
  back-end/apps/api/src/auth/dtos/login-reponse.dto.spec.ts
  back-end/apps/api/src/transactions/dto/create-transaction-approver.dto.spec.ts
  back-end/apps/api/src/transactions/dto/create-transaction-group-item.dto.spec.ts
  back-end/apps/api/src/transactions/dto/create-transaction-group.dto.spec.ts
  back-end/apps/api/src/transactions/dto/create-transaction.dto.spec.ts
  back-end/apps/api/src/transactions/dto/transaction-group.dto.spec.ts
  back-end/apps/api/src/transactions/dto/transaction-signer.dto.spec.ts
  back-end/apps/api/src/transactions/dto/transaction-to-sign.dto.spec.ts
  back-end/apps/api/src/transactions/dto/transaction.dto.spec.ts
  back-end/apps/api/src/user-keys/dtos/update-user-key.dto.spec.ts
  back-end/apps/api/src/users/dtos/user.dto.spec.ts
  back-end/apps/notifications/src/dtos/notification-receiver.dto.spec.ts
  back-end/docker-compose.yaml
  back-end/typeorm/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: update UserDto tests to use Date objects for createdAt and updatedAt fields
  back-end/apps/api/src/users/dtos/user.dto.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: update migration test command to use pnpm with typeorm
  .github/workflows/test-migrations.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: revert migration test command to use script in package.json
  .github/workflows/test-migrations.yaml
  back-end/package.json
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Migration job auto run fix (#2136)
  NOTICE
  back-end/README.md
  back-end/apps/api/Dockerfile
  back-end/apps/api/jest.config.ts
  back-end/apps/api/src/auth/dtos/login-reponse.dto.spec.ts
  back-end/apps/api/src/transactions/dto/create-transaction-approver.dto.spec.ts
  back-end/apps/api/src/transactions/dto/create-transaction-group-item.dto.spec.ts
  back-end/apps/api/src/transactions/dto/create-transaction-group.dto.spec.ts
  back-end/apps/api/src/transactions/dto/create-transaction.dto.spec.ts
  back-end/apps/api/src/transactions/dto/transaction-group.dto.spec.ts
  back-end/apps/api/src/transactions/dto/transaction-signer.dto.spec.ts
  back-end/apps/api/src/transactions/dto/transaction-to-sign.dto.spec.ts
  back-end/apps/api/src/transactions/dto/transaction.dto.spec.ts
  back-end/apps/api/src/user-keys/dtos/update-user-key.dto.spec.ts
  back-end/apps/api/src/users/dtos/user.dto.spec.ts
  back-end/apps/chain/Dockerfile
  back-end/apps/chain/jest.config.ts
  back-end/apps/notifications/Dockerfile
  back-end/apps/notifications/jest.config.ts
  back-end/apps/notifications/src/dtos/notification-receiver.dto.spec.ts
  back-end/docker-compose.prod.yaml
  back-end/jest.config.ts
  back-end/k8s/dev/README.md
  back-end/k8s/dev/deployments/api-deployment.yaml
  back-end/k8s/dev/deployments/migration-job.yaml
  back-end/k8s/dev/shell/deployments.sh
  back-end/k8s/dev/shell/docker_images.sh
  back-end/package.json
  back-end/pnpm-lock.yaml
  back-end/pnpm-workspace.yaml
  back-end/tsconfig.build.json
  back-end/tsconfig.json
  back-end/typeorm/Dockerfile
  back-end/typeorm/MIGRATION_CHECKLIST.md
  back-end/typeorm/data-source.ts
  back-end/typeorm/example.env
  back-end/typeorm/jest.config.ts
  back-end/typeorm/package.json
  back-end/typeorm/tsconfig.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: check version flow updated
  front-end/src/renderer/components/GlobalAppProcesses/GlobalAppProcesses.vue
  front-end/src/renderer/components/Organization/AddOrganizationModal.vue
  front-end/src/renderer/services/organization/versionCompatibility.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: flow in modals updated, axios interceptor added
  front-end/src/renderer/components/GlobalAppProcesses/components/MandatoryUpgrade.vue
  front-end/src/renderer/components/GlobalAppProcesses/components/OptionalUpgrade.vue
  front-end/src/renderer/composables/useVersionCheck.ts
  front-end/src/renderer/services/organization/disconnect.ts
  front-end/src/renderer/stores/versionState.ts
  front-end/src/renderer/utils/axios.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: new stores add, version and user stores updated
  front-end/src/renderer/stores/storeOrganizationConnection.ts
  front-end/src/renderer/stores/versionState.ts
  front-end/src/renderer/types/userStore.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: service and modal for compatibility checks added
  front-end/package.json
  front-end/pnpm-lock.yaml
  front-end/src/renderer/components/Organization/CompatibilityWarningModal.vue
  front-end/src/renderer/services/organization/versionCompatibility.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: disconnect logic updated to track per org
  front-end/src/renderer/stores/storeWebsocketConnection.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: reconnect logic added
  front-end/src/renderer/services/organization/index.ts
  front-end/src/renderer/services/organization/reconnect.ts
  front-end/src/renderer/stores/storeWebsocketConnection.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: mandatory update flow updated
  front-end/src/renderer/components/GlobalAppProcesses/GlobalAppProcesses.vue
  front-end/src/renderer/components/GlobalAppProcesses/components/MandatoryUpgrade.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: organization settings UI updated
  front-end/src/renderer/components/Organization/ConnectionStatusBadge.vue
  front-end/src/renderer/components/Organization/ConnectionToggle.vue
  front-end/src/renderer/pages/Settings/components/OrganizationsTab.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: build errors fixed
  front-end/src/renderer/components/Organization/ConnectionStatusBadge.vue
  front-end/src/renderer/pages/Settings/components/OrganizationsTab.vue
  front-end/src/renderer/stores/storeWebsocketConnection.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: integration and edge cases handled
  front-end/src/renderer/components/GlobalAppProcesses/GlobalAppProcesses.vue
  front-end/src/renderer/components/GlobalAppProcesses/components/MandatoryUpgrade.vue
  front-end/src/renderer/stores/storeUser.ts
  front-end/src/renderer/stores/storeWebsocketConnection.ts
  front-end/src/renderer/stores/versionState.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: more user feedback added
  front-end/src/renderer/components/GlobalAppProcesses/components/OptionalUpgrade.vue
  front-end/src/renderer/services/organization/disconnect.ts
  front-end/src/renderer/utils/axios.ts
  front-end/src/renderer/utils/toastOptions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: refactor and improvements
  front-end/src/renderer/components/GlobalAppProcesses/GlobalAppProcesses.vue
  front-end/src/renderer/components/GlobalAppProcesses/components/OptionalUpgrade.vue
  front-end/src/renderer/services/organization/versionCompatibility.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: small refactor
  front-end/src/renderer/components/Organization/AddOrganizationModal.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: guard response updated
  back-end/apps/api/src/guards/frontend-version.guard.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: refactor transaction models to use a base model and register transaction types
  back-end/libs/common/src/models/account-create-transaction.model.ts
  back-end/libs/common/src/models/account-delete-transaction.model.ts
  back-end/libs/common/src/models/account-update-transaction.model.ts
  back-end/libs/common/src/models/approve-allowance-transaction.model.ts
  back-end/libs/common/src/models/file-append-transaction.model.ts
  back-end/libs/common/src/models/file-create-transaction.model.ts
  back-end/libs/common/src/models/file-update-transaction.model.ts
  back-end/libs/common/src/models/freeze-transaction.model.ts
  back-end/libs/common/src/models/node-create-transaction.model.ts
  back-end/libs/common/src/models/node-delete-transaction.model.ts
  back-end/libs/common/src/models/node-update-transaction.model.ts
  back-end/libs/common/src/models/system-delete-transaction.model.ts
  back-end/libs/common/src/models/system-undelete-transaction.model.ts
  back-end/libs/common/src/models/transaction-factory.ts
  back-end/libs/common/src/models/transfer-transaction.model.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: add lastCheckedAt and refreshToken to cached entities, update transaction references
  back-end/libs/common/src/database/entities/caches/cached-account-key.entity.ts
  back-end/libs/common/src/database/entities/caches/cached-account.entity.ts
  back-end/libs/common/src/database/entities/caches/cached-node-admin-key.entity.ts
  back-end/libs/common/src/database/entities/caches/cached-node.entity.ts
  back-end/libs/common/src/database/entities/caches/index.ts
  back-end/libs/common/src/database/entities/caches/transaction-cached-account.entity.ts
  back-end/libs/common/src/database/entities/caches/transaction-cached-node.entity.ts
  back-end/libs/common/src/database/entities/transaction.entity.ts
  back-end/libs/common/src/models/transaction.model.ts
  back-end/libs/common/src/sql/queries/transactionQueries.spec.ts
  back-end/libs/common/src/sql/queries/transactionQueries.ts
  back-end/libs/common/src/transaction-signature/model/account-create-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/account-delete-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/account-update-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/approve-allowance-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/file-append-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/file-create-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/file-update-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/freeze-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/index.ts
  back-end/libs/common/src/transaction-signature/model/node-create-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/node-delete-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/node-update-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/system-delete-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/system-undelete-transaction.model.ts
  back-end/libs/common/src/transaction-signature/model/transaction-base.model.ts
  back-end/libs/common/src/transaction-signature/model/transaction-factory.ts
  back-end/libs/common/src/transaction-signature/model/transfer-transaction.model.ts
  back-end/libs/common/src/utils/sdk/account.ts
  back-end/libs/common/src/utils/sdk/key.ts
  back-end/libs/common/src/utils/sdk/node.ts
  back-end/scripts/add-users.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: add cache management module and implement cron job for cache refresh
  back-end/apps/api/src/notification-receiver/notification-receiver.module.ts
  back-end/apps/api/src/notification-receiver/notification-receiver.service.spec.ts
  back-end/apps/api/src/transactions/approvers/approvers.service.ts
  back-end/apps/api/src/transactions/observers/observers.service.ts
  back-end/apps/api/src/transactions/signers/signers.service.ts
  back-end/apps/api/src/transactions/transactions.module.ts
  back-end/apps/api/src/transactions/transactions.service.ts
  back-end/apps/api/test/utils/databaseUtil.ts
  back-end/apps/chain/src/cache-management/cache-management.module.ts
  back-end/apps/chain/src/cache-management/cache-management.service.ts
  back-end/apps/chain/src/cache-management/index.ts
  back-end/apps/chain/src/chain.module.ts
  back-end/apps/chain/src/transaction-scheduler/transaction-scheduler.module.ts
  back-end/apps/chain/src/transaction-scheduler/transaction-scheduler.service.ts
  back-end/apps/notifications/src/receiver/receiver.module.ts
  back-end/apps/notifications/src/receiver/receiver.service.ts
  back-end/libs/common/src/execute/execute.module.ts
  back-end/libs/common/src/execute/execute.service.ts
  back-end/libs/common/src/index.ts
  back-end/libs/common/src/transaction-signature/account-cache.service.ts
  back-end/libs/common/src/transaction-signature/cache.helper.ts
  back-end/libs/common/src/transaction-signature/index.ts
  back-end/libs/common/src/transaction-signature/mirror-node.client.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.ts
  back-end/libs/common/src/transaction-signature/transaction-signature.module.ts
  back-end/libs/common/src/transaction-signature/transaction-signature.service.ts
  back-end/libs/common/src/utils/sdk/transaction.ts
  back-end/libs/common/src/utils/transaction/index.ts
  back-end/scripts/create-admin.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: add lastCheckedAt to cache tables and implement mirror node cache refresh with retry logic
  back-end/apps/chain/src/cache-management/cache-management.module.ts
  back-end/apps/chain/src/cache-management/cache-management.service.ts
  back-end/libs/common/src/transaction-signature/account-cache.service.ts
  back-end/libs/common/src/transaction-signature/cache.types.ts
  back-end/libs/common/src/transaction-signature/index.ts
  back-end/libs/common/src/transaction-signature/mirror-node.client.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Add 'isManual' field to ITransactionNode.
  back-end/apps/api/src/transactions/dto/ITransactionNode.ts
  shared/src/ITransactionNode.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Expose 'isManual' field in transaction-nodes service.
  back-end/apps/api/src/transactions/dto/transaction-node.dto.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Adjust transaction-nodes back-end tests.
  back-end/apps/api/src/transactions/nodes/transaction-nodes.controller.spec.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.spec.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.util.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Expose manual badge in TransactionNodeRow.
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: bring back the 'manual' badge in the transaction tables (#2140)
  back-end/apps/api/src/transactions/dto/ITransactionNode.ts
  back-end/apps/api/src/transactions/dto/transaction-node.dto.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.controller.spec.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.spec.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.util.spec.ts
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  shared/src/ITransactionNode.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

refactor: streamline cache management service configuration and enhance error handling in mirror node client
  back-end/apps/chain/src/cache-management/cache-management.module.ts
  back-end/apps/chain/src/cache-management/cache-management.service.spec.ts
  back-end/apps/chain/src/cache-management/cache-management.service.ts
  back-end/libs/common/src/transaction-signature/account-cache.service.ts
  back-end/libs/common/src/transaction-signature/mirror-node.client.spec.ts
  back-end/libs/common/src/transaction-signature/mirror-node.client.ts
  back-end/libs/common/src/transaction-signature/model/transaction-factory.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.ts
  back-end/libs/common/src/transaction-signature/transaction-signature.module.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: add public key validation and error handling in user keys service
  back-end/apps/api/src/user-keys/user-keys.service.spec.ts
  back-end/apps/api/src/user-keys/user-keys.service.ts
  back-end/libs/common/src/constants/errorCodes.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

refactor: rename transaction account and node relations for consistency and add lastCheckedAt to cache tables
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.spec.ts
  back-end/apps/api/src/transactions/transactions.controller.spec.ts
  back-end/libs/common/src/database/entities/caches/transaction-cached-account.entity.ts
  back-end/libs/common/src/database/entities/caches/transaction-cached-node.entity.ts
  back-end/libs/common/src/database/entities/transaction.entity.ts
  back-end/typeorm/migrations/1766811596315-CacheManagement.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

test: update mocks in account and node cache service tests for consistency
  back-end/libs/common/src/transaction-signature/account-cache.service.spec.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

test: add unit tests for notification type processing and transaction participant retrieval
  back-end/apps/notifications/src/receiver/receiver.service.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

test: add unit tests for extractAffectedCount method in cache management service
  back-end/apps/chain/src/cache-management/cache-management.service.spec.ts
  back-end/apps/chain/src/cache-management/cache-management.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Simplified TransactionBaseModel.getFeePayerAccountId().
  front-end/src/renderer/utils/transactionSignatureModels/transaction.model.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: simplified TransactionBaseModel.getFeePayerAccountId(). (#2141)
  front-end/src/renderer/utils/transactionSignatureModels/transaction.model.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Result of TransactionBaseModel.computeSignatureKey() now conforms to SignatureAudit interface.
  front-end/src/renderer/components/SignatureStatus.vue
  front-end/src/renderer/utils/transactionSignatureModels/index.ts
  front-end/src/renderer/utils/transactionSignatureModels/transaction.model.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: defined interface for TransactionBaseModel.computeSignatureKey() result (#2142)
  front-end/src/renderer/components/SignatureStatus.vue
  front-end/src/renderer/utils/transactionSignatureModels/index.ts
  front-end/src/renderer/utils/transactionSignatureModels/transaction.model.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: update frontend version to 0.22.0 in configuration files
  NOTICE
  back-end/apps/api/example.env
  back-end/apps/api/package.json
  back-end/apps/chain/package.json
  back-end/apps/notifications/package.json
  back-end/package.json
  back-end/typeorm/package.json
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/transaction-tool @SvetBorislavov @yiliev0

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/LICENSE                                      @hashgraph/release-engineering-managers @hashgraph/transaction-tool

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
