Repository hashgraph/hedera-transaction-tool, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/transaction-tool @SvetBorislavov @yiliev0

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/LICENSE                                      @hashgraph/release-engineering-managers @hashgraph/transaction-tool

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool

fix: update cache insertion logic and adjust NATS stream retention policy
  back-end/apps/notifications/src/notifications.module.ts
  back-end/libs/common/src/nats/nats-stream-initializer.service.ts
  back-end/libs/common/src/nats/nats.module.ts
  back-end/libs/common/src/transaction-signature/cache.helper.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: remove exess pakcages from package-lock
  NOTICE
  front-end/pnpm-lock.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix(cache): refactor cache reclaim logic and introduce SQL upsert for refresh tokens
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.spec.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  back-end/apps/chain/src/cache-management/cache-management.service.ts
  back-end/libs/common/src/sql/queries/cache.queries.ts
  back-end/libs/common/src/sql/queries/index.ts
  back-end/libs/common/src/sql/queries/transaction.queries.spec.ts
  back-end/libs/common/src/sql/queries/transaction.queries.ts
  back-end/libs/common/src/sql/sql-builder.service.ts
  back-end/libs/common/src/transaction-signature/account-cache.service.ts
  back-end/libs/common/src/transaction-signature/cache.helper.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.ts
  back-end/libs/common/src/transaction-signature/transaction-signature.module.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix(cache): refactor cache refresh logic to return claimed status and improve SQL upsert handling
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.spec.ts
  back-end/apps/chain/src/cache-management/cache-management.service.spec.ts
  back-end/apps/chain/src/cache-management/cache-management.service.ts
  back-end/libs/common/src/sql/queries/cache.queries.spec.ts
  back-end/libs/common/src/sql/queries/cache.queries.ts
  back-end/libs/common/src/sql/sql-builder.service.spec.ts
  back-end/libs/common/src/sql/sql-builder.service.ts
  back-end/libs/common/src/transaction-signature/account-cache.service.spec.ts
  back-end/libs/common/src/transaction-signature/account-cache.service.ts
  back-end/libs/common/src/transaction-signature/cache.helper.spec.ts
  back-end/libs/common/src/transaction-signature/cache.helper.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.spec.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix(database): add cache connection pool and update data source injection
  back-end/libs/common/src/database/database.module.ts
  back-end/libs/common/src/transaction-signature/account-cache.service.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.ts
  back-end/libs/common/src/transaction-signature/transaction-signature.module.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix(cache): update comment for clarity on retry logic in claim process
  back-end/libs/common/src/transaction-signature/cache.helper.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix(cache): rename reclaimTimeoutMs to claimTimeoutMs and update related references
  back-end/apps/chain/src/cache-management/cache-management.service.spec.ts
  back-end/apps/chain/src/cache-management/cache-management.service.ts
  back-end/libs/common/src/sql/queries/cache.queries.spec.ts
  back-end/libs/common/src/sql/queries/cache.queries.ts
  back-end/libs/common/src/transaction-signature/account-cache.service.spec.ts
  back-end/libs/common/src/transaction-signature/account-cache.service.ts
  back-end/libs/common/src/transaction-signature/cache.helper.spec.ts
  back-end/libs/common/src/transaction-signature/cache.helper.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.spec.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix(version): update frontend version to 0.23.1-beta.2 in api-deployment.yaml and package.json files
  back-end/apps/api/package.json
  back-end/apps/chain/package.json
  back-end/apps/notifications/package.json
  back-end/k8s/dev/deployments/api-deployment.yaml
  back-end/package.json
  back-end/typeorm/package.json
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix(version): update frontend version to 0.23.1-beta.3 in api-deployment.yaml and package.json files
  back-end/apps/api/package.json
  back-end/apps/chain/package.json
  back-end/apps/notifications/package.json
  back-end/k8s/dev/deployments/api-deployment.yaml
  back-end/package.json
  back-end/typeorm/package.json
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Showing the freeze type on the transaction list table (#2170)
  automation/tests/organizationRegressionTests.test.ts
  automation/tests/workflowTests.test.ts
  front-end/src/renderer/pages/TransactionDetails/TransactionDetails.vue
  front-end/src/renderer/pages/Transactions/components/Drafts.vue
  front-end/src/renderer/pages/Transactions/components/History.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  front-end/src/renderer/utils/sdk/transactions.ts
  front-end/src/tests/renderer/utils/sdk/transactions.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: pin Prisma v7.2.0, remove driverAdapters preview flag, set config & env
  .github/workflows/test-frontend.yaml
  .gitignore
  NOTICE
  front-end/electron-builder.yml
  front-end/package.json
  front-end/pnpm-lock.yaml
  front-end/prisma.config.ts
  front-end/prisma/schema.prisma
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Update back-end/apps/api/src/users/users.service.ts
  back-end/apps/api/src/users/users.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Update back-end/apps/api/src/users/users.service.ts
  back-end/apps/api/src/users/users.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Update back-end/apps/api/src/users/dtos/user.dto.ts
  back-end/apps/api/src/users/dtos/user.dto.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: quotes in test-frontend.yam at SOLO_CLUSTER_NAME
  .github/workflows/test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: gRPC endpoint inputs validates on blur
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeFormData.vue
  front-end/src/renderer/utils/endpointUtils.ts
  front-end/src/tests/renderer/utils/endpointUtils.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: add tests
  front-end/src/tests/renderer/utils/endpointUtils.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: deleting all keys breaks `Create and Share` action (#2241)
  front-end/src/renderer/components/Transaction/Create/BaseTransaction/BaseTransaction.vue
  front-end/src/renderer/components/Transaction/TransactionProcessor/TransactionProcessor.vue
  front-end/src/renderer/components/Transaction/TransactionProcessor/components/CheckKeySettingHandler.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added missing await in mainWindow.createWindow().
  front-end/src/main/windows/mainWindow.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: added missing await in mainWindow.createWindow(). (#2267)
  front-end/src/main/windows/mainWindow.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: restrict client version data to admins/self and fix tests
  back-end/apps/api/src/users/users.controller.spec.ts
  back-end/apps/api/src/users/users.controller.ts
  back-end/apps/api/src/users/users.service.spec.ts
  back-end/apps/api/src/users/users.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat(k6): show endpoint URLs in report checks and tighten SetupData type
  automation/k6/src/lib/utils.ts
  automation/k6/src/scripts/all-transactions.ts
  automation/k6/src/scripts/history.ts
  automation/k6/src/scripts/in-progress.ts
  automation/k6/src/scripts/notifications.ts
  automation/k6/src/scripts/ready-to-approve.ts
  automation/k6/src/scripts/ready-to-sign.ts
  automation/k6/src/scripts/sign-all.ts
  automation/k6/src/scripts/smoke-test.ts
  automation/k6/src/scripts/tab-load-times.ts
  automation/k6/src/types/k6.types.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

docs: update k6 README with setup instructions and reports section
  automation/k6/README.md
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

docs: fix README inaccuracies and curate scripts section
  automation/k6/README.md
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix(version): update frontend version to 0.23.1 in api-deployment.yaml and package.json files
  back-end/apps/api/package.json
  back-end/apps/chain/package.json
  back-end/apps/notifications/package.json
  back-end/k8s/dev/deployments/api-deployment.yaml
  back-end/package.json
  back-end/typeorm/package.json
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix(automation): stabilize E2E tests with improved synchronization (#2218)
  automation/pages/BasePage.ts
  automation/pages/GroupPage.ts
  automation/pages/LoginPage.ts
  automation/pages/OrganizationPage.ts
  automation/pages/TransactionPage.ts
  automation/tests/groupTransactionTests.test.ts
  automation/tests/loginTests.test.ts
  automation/tests/organizationContactListTests.test.ts
  automation/tests/organizationGroupTests.test.ts
  automation/tests/organizationNotificationTests.test.ts
  automation/tests/organizationSettingsTests.test.ts
  automation/tests/organizationTransactionTests.test.ts
  automation/tests/transactionTests.test.ts
  automation/tests/workflowTests.test.ts
  automation/utils/csvGenerator.ts
  automation/utils/databaseQueries.ts
  automation/utils/databaseUtil.ts
  automation/utils/util.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: transactions show in correct tabs (#2237)
  back-end/apps/chain/src/cache-management/cache-management.service.ts
  back-end/libs/common/src/database/entities/caches/cached-node.entity.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.ts
  back-end/libs/common/src/transaction-signature/transaction-signature.service.ts
  back-end/typeorm/migrations/1770193855293-CachedNodeAccountIdNullable.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: transaction history doesn't show all transactions (#2236)
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.spec.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  back-end/libs/common/src/sql/queries/transaction.queries.spec.ts
  back-end/libs/common/src/sql/queries/transaction.queries.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: title of TransactionGroupDetails with only 1 transaction. (#2243)
  front-end/src/renderer/pages/TransactionGroupDetails/TransactionGroupDetails.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix(automation): remove race condition in createNewAccount execution wait (#2250)
  automation/pages/TransactionPage.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: adding `setStoredClaim()` and using it everywhere possible. (#2256)
  front-end/src/renderer/components/SplitSignButtonDropdown.vue
  front-end/src/renderer/composables/user/useDateTimeSetting.ts
  front-end/src/renderer/pages/AccountSetup/components/Generate.vue
  front-end/src/renderer/pages/AccountSetup/components/GenerateOrImport.vue
  front-end/src/renderer/pages/Migrate/Migrate.vue
  front-end/src/renderer/pages/Settings/components/GeneralTab/components/MaxTransactionFeeSetting.vue
  front-end/src/renderer/pages/Settings/components/GeneralTab/components/NetworkSettings.vue
  front-end/src/renderer/services/claimService.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

2240 investigate receiver queue worker failure and missing logs in notifications queue (#2254)
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.spec.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  back-end/apps/chain/src/cache-management/cache-management.service.spec.ts
  back-end/apps/chain/src/cache-management/cache-management.service.ts
  back-end/apps/notifications/src/notifications.module.ts
  back-end/libs/common/src/database/database.module.ts
  back-end/libs/common/src/nats/nats-stream-initializer.service.ts
  back-end/libs/common/src/nats/nats.module.ts
  back-end/libs/common/src/sql/queries/cache.queries.spec.ts
  back-end/libs/common/src/sql/queries/cache.queries.ts
  back-end/libs/common/src/sql/queries/index.ts
  back-end/libs/common/src/sql/queries/transaction.queries.spec.ts
  back-end/libs/common/src/sql/queries/transaction.queries.ts
  back-end/libs/common/src/sql/sql-builder.service.spec.ts
  back-end/libs/common/src/sql/sql-builder.service.ts
  back-end/libs/common/src/transaction-signature/account-cache.service.spec.ts
  back-end/libs/common/src/transaction-signature/account-cache.service.ts
  back-end/libs/common/src/transaction-signature/cache.helper.spec.ts
  back-end/libs/common/src/transaction-signature/cache.helper.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.spec.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.ts
  back-end/libs/common/src/transaction-signature/transaction-signature.module.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Showing the freeze type on the transaction list table (#2170)
  automation/tests/organizationRegressionTests.test.ts
  automation/tests/workflowTests.test.ts
  front-end/src/renderer/pages/TransactionDetails/TransactionDetails.vue
  front-end/src/renderer/pages/Transactions/components/Drafts.vue
  front-end/src/renderer/pages/Transactions/components/History.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  front-end/src/renderer/utils/sdk/transactions.ts
  front-end/src/tests/renderer/utils/sdk/transactions.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: deleting all keys breaks `Create and Share` action (#2241)
  front-end/src/renderer/components/Transaction/Create/BaseTransaction/BaseTransaction.vue
  front-end/src/renderer/components/Transaction/TransactionProcessor/TransactionProcessor.vue
  front-end/src/renderer/components/Transaction/TransactionProcessor/components/CheckKeySettingHandler.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: added missing await in mainWindow.createWindow(). (#2267)
  front-end/src/main/windows/mainWindow.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: copilot fixes
  front-end/src/renderer/pages/ContactList/ContactList.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: bugs and optimisations
  back-end/apps/api/src/users/dtos/index.ts
  back-end/apps/api/src/users/dtos/user-with-clients.dto.ts
  back-end/apps/api/src/users/dtos/user.dto.ts
  back-end/apps/api/src/users/users.controller.spec.ts
  back-end/apps/api/src/users/users.controller.ts
  back-end/apps/api/src/users/users.service.spec.ts
  back-end/apps/api/src/users/users.service.ts
  back-end/apps/api/test/spec/users.e2e-spec.ts
  back-end/libs/common/src/database/entities/client.entity.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: bugs and add optimisations forntend
  front-end/src/renderer/components/Contacts/ContactDetails.vue
  front-end/src/renderer/pages/ContactList/ContactList.vue
  front-end/src/renderer/utils/clientVersion.ts
  front-end/src/shared/interfaces/organization/user/index.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: increasing test coverage
  back-end/apps/api/src/users/users.controller.spec.ts
  back-end/apps/api/src/users/users.service.spec.ts
  front-end/src/tests/renderer/utils/clientVersion.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: lint error
  front-end/src/renderer/pages/ContactList/ContactList.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0
