Repository hashgraph/hedera-transaction-tool, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/transaction-tool @SvetBorislavov @yiliev0

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/LICENSE                                      @hashgraph/release-engineering-managers @hashgraph/transaction-tool

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool

feat: implement soft delete for users using transaction manager
  back-end/apps/api/src/users/users.service.spec.ts
  back-end/apps/api/src/users/users.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

refactor: simplify NATS installation by using values file for configuration
  back-end/k8s/dev/shell/deployments.sh
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: add TypeORM migrations and update configurations for database synchronization
  .github/workflows/test-backend.yaml
  .github/workflows/test-migrations.yaml
  back-end/README.md
  back-end/apps/api/.env.test
  back-end/apps/api/Dockerfile
  back-end/apps/api/example.env
  back-end/apps/api/jest.config.ts
  back-end/apps/api/test/utils/databaseUtil.ts
  back-end/apps/chain/example.env
  back-end/apps/chain/jest.config.ts
  back-end/apps/notifications/example.env
  back-end/apps/notifications/jest.config.ts
  back-end/docker-compose.yaml
  back-end/jest.config.ts
  back-end/k8s/dev/deployments/api-deployment.yaml
  back-end/k8s/dev/deployments/chain-deployment.yaml
  back-end/k8s/dev/deployments/notifications-deployment.yaml
  back-end/libs/common/src/database/entities/notifications/notification.entity.ts
  back-end/libs/common/src/database/entities/transaction.entity.ts
  back-end/libs/common/src/database/entities/user-key.entity.ts
  back-end/package.json
  back-end/test/integration/post-migration.test.ts
  back-end/test/migrations/idempotency.test.ts
  back-end/test/migrations/schema-sync.test.ts
  back-end/typeorm/MIGRATION_CHECKLIST.md
  back-end/typeorm/data-source.ts
  back-end/typeorm/datasource.config.ts
  back-end/typeorm/migrations/1764999592722-InitialSchema.ts
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: reverted changes to backend workflow tests
  .github/workflows/test-backend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

chore: update pnpm action version to 9 in test migrations configuration
  .github/workflows/test-migrations.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

chore: add migration step to backend test workflow
  .github/workflows/test-backend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

chore: update migration test workflows and improve configurations
  .github/workflows/test-backend.yaml
  .github/workflows/test-migrations.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

chore: refactor migration test structure and update configurations
  .github/workflows/test-migrations.yaml
  back-end/jest.config.ts
  back-end/package.json
  back-end/tsconfig.build.json
  back-end/typeorm/test/integration/post-migration.test.ts
  back-end/typeorm/test/migrations/idempotency.test.ts
  back-end/typeorm/test/migrations/schema-sync.test.ts
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: improve database disconnection handling and update test command verbosity
  back-end/package.json
  back-end/scripts/add-users.ts
  back-end/scripts/create-admin.ts
  back-end/typeorm/data-source.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: add PostgreSQL service to migration tests and update environment variables
  .github/workflows/test-migrations.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

feat: implement automatic Kubernetes context switching and enhance deployment scripts
  back-end/k8s/dev/README.md
  back-end/k8s/dev/deploy.sh
  back-end/k8s/dev/example.env
  back-end/k8s/dev/shell/deployments.sh
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: add script to generate TypeORM migrations with temporary PostgreSQL container
  back-end/package.json
  back-end/scripts/generate-migration.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added getTransactionNodes() service.
  back-end/apps/api/src/transactions/nodes/transaction-nodes.controller.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  front-end/src/renderer/services/organization/transactionNode.ts
  front-end/tsconfig.web.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added middle-end ITransactionNode and TransactionNodeDto (to be used later).
  back-end/apps/api/src/transactions/dto/index.ts
  back-end/apps/api/src/transactions/dto/transaction-node.dto.ts
  back-end/apps/api/tsconfig.app.json
  middle-end/src/ITransactionNode.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Adjusted ITransactionNode interface.
  back-end/apps/api/src/transactions/dto/transaction-node.dto.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  middle-end/src/ITransactionNode.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

GET /transaction-nodes now works :)
  back-end/apps/api/src/transactions/dto/ITransactionNode.ts
  back-end/apps/api/src/transactions/dto/transaction-node.dto.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.controller.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeTable.vue
  front-end/src/renderer/services/organization/transactionNode.ts
  middle-end/src/ITransactionNode.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added TransactionNodeTable vue (be used later).
  front-end/src/renderer/pages/Transactions/components/SignButton.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeHead.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeTable.vue
  front-end/src/renderer/utils/sdk/transactions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added TransactionNodesController/Service to Transactions module.
  back-end/apps/api/src/transactions/transactions.module.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Fixed transaction type column in TransactionNodeRow.
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  front-end/src/renderer/utils/sdk/transactions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Renamed SignButton as SignSingleButton and implemented handleClick().
  front-end/src/renderer/composables/usePersonalPassword.ts
  front-end/src/renderer/pages/Transactions/components/SignButton.vue
  front-end/src/renderer/pages/Transactions/components/SignSingleButton.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Copied ITransactionNode.ts to back-end :(
  back-end/apps/api/src/transactions/dto/ITransactionNode.ts
  back-end/apps/api/src/transactions/dto/transaction-node.dto.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.controller.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  back-end/apps/api/tsconfig.app.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

TransactionNodeTable now refreshes itself using transactionSigned and transactionGroupSigned events.
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeTable.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Transactions view now uses TransactionNodeTable for ReadyToSign tab.
  front-end/src/renderer/pages/Transactions/Transactions.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added SignGroupButton to TransactionNodeRow.
  front-end/src/renderer/pages/Transactions/components/SignGroupButton.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Removed unused code from TransactionNodeHead.
  front-end/src/renderer/pages/Transactions/components/TransactionNodeHead.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added new composable useFilterNotifications (to be used later).
  front-end/src/renderer/composables/useFilterNotifications.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Re-enabled sorting in TransactionNodeTable.
  front-end/src/renderer/pages/Transactions/components/TransactionNodeHead.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeTable.vue
  front-end/src/renderer/utils/sortTransactionNodes.ts
  front-end/src/shared/interfaces/HederaSchema.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added extra fields to ITransactionNode.
  back-end/apps/api/src/transactions/dto/ITransactionNode.ts
  back-end/apps/api/src/transactions/dto/transaction-node.dto.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  front-end/src/renderer/utils/sortTransactionNodes.ts
  middle-end/src/ITransactionNode.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Replaced ReadyForReview, InProgress, ReadyForExecution and History by TransactionNodeTable.
  front-end/src/renderer/pages/Transactions/Transactions.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added extra headers and columns to TransactionNodeTable.
  front-end/src/renderer/pages/Transactions/components/TransactionNodeHead.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeTable.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

TransactionNodeRow now handles notification visualization.
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Removed createdAt and description columns back to HISTORY collection/tab.
  front-end/src/renderer/pages/Transactions/components/TransactionNodeHead.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

TransactionNodeRow now handles notifications.
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Experimental logic to compute status of a transaction group.
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

TransactionNodeRow now display legacy History view when local mode is on.
  front-end/src/renderer/pages/Transactions/Transactions.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

TransactionNodesService now sorts its result (to ease unit testing).
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.util.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

InProgress tab now displays correct content.
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

ITransactionNode.groupItemCount now contains the group cardinality.
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

TransactionNodeRow now displays group cardinality and collection count.
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Improved unit testing for transaction nodes.
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.spec.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.util.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0
