Repository hashgraph/hedera-transaction-tool, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/transaction-tool @SvetBorislavov @yiliev0

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/LICENSE                                      @hashgraph/release-engineering-managers @hashgraph/transaction-tool

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool

Replaced storeNotifications.setup() by watching logic.
  front-end/src/renderer/composables/user/useSetupStores.ts
  front-end/src/renderer/pages/AccountSetup/components/NewPassword.vue
  front-end/src/renderer/stores/storeNotifications.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: replaced storeNotifications.setup() by watching logic (#1985)
  front-end/src/renderer/composables/user/useSetupStores.ts
  front-end/src/renderer/pages/AccountSetup/components/NewPassword.vue
  front-end/src/renderer/stores/storeNotifications.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Replaced added watching logic to storeContacts and avoid unneeded calls to storeContacts.fetch().
  front-end/src/renderer/composables/user/useSetupStores.ts
  front-end/src/renderer/pages/ContactList/ContactList.vue
  front-end/src/renderer/stores/storeContacts.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: add watching logic to storeContacts and avoid unneeded calls to storeContacts.fetch() (#1992)
  front-end/src/renderer/composables/user/useSetupStores.ts
  front-end/src/renderer/pages/ContactList/ContactList.vue
  front-end/src/renderer/stores/storeContacts.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: disabling solo deployment for LoginTests, RegistrationTests and SettingsTests (#1980)
  .github/workflows/test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

AccountSetup.handleNext() should exit after pushing new route.
  front-end/src/renderer/pages/AccountSetup/AccountSetup.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Removed active from registrationTests.settingsButtonSelector
  automation/pages/RegistrationPage.js
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: moving router.push() in AccountSetup.handleNext() (#1995)
  automation/pages/RegistrationPage.js
  front-end/src/renderer/pages/AccountSetup/AccountSetup.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Replace private functions (_updateTransactionStatus and emitNotificationEvents) by processTransactionStatus() and notifyStatusChange() from lib.
  back-end/apps/chain/src/transaction-status/transaction-status.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Add processTransactionStatus(), notifyStatusChange() in libs/common/sec/utils/transaction (for further use).
  back-end/libs/common/src/utils/transaction/index.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Leverage processTransactionStatus() in SignersService instead of doing IPC with chain's TransactionStatusService.
  back-end/apps/api/src/transactions/signers/signers.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Refactoring of TransactionDetails such that fetchTransaction() does no longer have arguments.
  front-end/src/renderer/pages/TransactionDetails/TransactionDetails.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Re-fetch transaction from repo after actions such that new state is reflected in Transaction details despite WS failures.
  front-end/src/renderer/pages/TransactionDetails/TransactionDetails.vue
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Adjust api and chain unit tests after creation of processTransactionStatus(), notifyStatusChange() in common/utils.
  back-end/apps/api/src/transactions/signers/signers.service.spec.ts
  back-end/apps/chain/src/transaction-status/transaction-status.service.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Refactor SignersService.uploadSignatureMaps().
  back-end/apps/api/src/transactions/signers/signers.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Adjust SignersService unit test.
  back-end/apps/api/src/transactions/signers/signers.service.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Suppress warning in TransactionDetailsHeader.
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: sign button does not disappear after signing (#1994)
  back-end/apps/api/src/transactions/signers/signers.service.spec.ts
  back-end/apps/api/src/transactions/signers/signers.service.ts
  back-end/apps/chain/src/transaction-status/transaction-status.service.spec.ts
  back-end/apps/chain/src/transaction-status/transaction-status.service.ts
  back-end/libs/common/src/utils/transaction/index.ts
  front-end/src/renderer/pages/TransactionDetails/TransactionDetails.vue
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Setup dedicated color for error and warning toasts.
  front-end/src/renderer/styles/_root.scss
  front-end/src/renderer/styles/_ui-elements.scss
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Commented warningToastOptions (because unused for now).
  front-end/src/renderer/utils/toastOptions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Removed unused param replace from router.redirectToGroupDetails().
  front-end/src/renderer/components/Transaction/Create/BaseTransaction/BaseTransaction.vue
  front-end/src/renderer/pages/CreateTransactionGroup/CreateTransactionGroup.vue
  front-end/src/renderer/pages/Transactions/components/InProgress.vue
  front-end/src/renderer/pages/Transactions/components/ReadyToSign.vue
  front-end/src/renderer/utils/router.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: removed unused param from router.redirectToGroupDetails() and fixed typing (#1999)
  front-end/src/renderer/components/Transaction/Create/BaseTransaction/BaseTransaction.vue
  front-end/src/renderer/pages/CreateTransactionGroup/CreateTransactionGroup.vue
  front-end/src/renderer/pages/Transactions/components/InProgress.vue
  front-end/src/renderer/pages/Transactions/components/ReadyToSign.vue
  front-end/src/renderer/utils/router.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: semantic release
  .github/workflows/000-user-official-release.yaml
  .github/workflows/300-flow-docker-images.yaml
  .releaserc
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: add missing steps and semantic release plugins
  .github/workflows/000-user-official-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

chore: fix typo
  .github/workflows/000-user-official-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Add default value for fontClass argument of stringifyHbarWithFont().
  front-end/src/renderer/utils/index.ts
  front-end/src/renderer/utils/transferTransactions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Reduce left hand side menu width.
  front-end/src/renderer/styles/_layout.scss
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Expose formatTransactionType() as renderer util.
  front-end/src/renderer/utils/sdk/transactions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Shorten transaction types in various transaction tables.
  front-end/src/renderer/pages/TransactionGroupDetails/TransactionGroupDetails.vue
  front-end/src/renderer/pages/Transactions/components/History.vue
  front-end/src/renderer/pages/Transactions/components/InProgress.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForExecution.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForReview.vue
  front-end/src/renderer/pages/Transactions/components/ReadyToSign.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Use less padding between the transaction tables columns.
  front-end/src/renderer/styles/_ui-elements.scss
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: pr formatting workflow and renaming
  .github/workflows/001-flow-pull-request-formatting.yaml
  .github/workflows/301-flow-test-backend.yaml
  .github/workflows/302-flow-test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

chore: fix quotes
  .github/workflows/300-flow-docker-images.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Adjust min-width for action buttons located inside table cells.
  front-end/src/renderer/pages/Transactions/components/Drafts.vue
  front-end/src/renderer/pages/Transactions/components/History.vue
  front-end/src/renderer/pages/Transactions/components/InProgress.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForExecution.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForReview.vue
  front-end/src/renderer/pages/Transactions/components/ReadyToSign.vue
  front-end/src/renderer/styles/_ui-elements.scss
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Use compact form of DateTimeString in transaction tables.
  automation/playwright.config.js
  front-end/src/renderer/pages/Transactions/components/Drafts.vue
  front-end/src/renderer/pages/Transactions/components/History.vue
  front-end/src/renderer/pages/Transactions/components/InProgress.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForExecution.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForReview.vue
  front-end/src/renderer/pages/Transactions/components/ReadyToSign.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Use short form of transaction type also in Drafts table.
  automation/tests/transactionTests.test.js
  front-end/src/renderer/pages/Transactions/components/Drafts.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Rename handleFetchGroup() to fetchGroup().
  front-end/src/renderer/pages/TransactionGroupDetails/TransactionGroupDetails.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Add signSingleTransaction() to renderer utils (for further use).
  front-end/src/renderer/utils/index.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Refactor isTransactionVersionMismatch computed to a ref.
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Leverage signSingleTransaction() in TransactionDetailsHeader.
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Leverage signSingleTransaction() in TransactionGroupDetails.
  front-end/src/renderer/pages/TransactionGroupDetails/TransactionGroupDetails.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0
