Repository hashgraph/hedera-transaction-tool, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

chore: small fixes
  .github/workflows/000-user-official-release.yaml
  .github/workflows/001-flow-pull-request-formatting.yaml
  .releaserc
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Bump playwright dependency to 1.56.1
  automation/package.json
  automation/pnpm-lock.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Adjust playwright/test require statements to 1.56.1
  automation/playwright.config.js
  automation/tests/groupTransactionTests.test.js
  automation/tests/loginTests.test.js
  automation/tests/organizationContactListTests.test.js
  automation/tests/organizationGroupTests.test.js
  automation/tests/organizationNotificationTests.test.js
  automation/tests/organizationRegressionTests.test.js
  automation/tests/organizationSettingsTests.test.js
  automation/tests/organizationTransactionTests.test.js
  automation/tests/registrationTests.test.js
  automation/tests/settingsTests.test.js
  automation/tests/systemFileTests.test.js
  automation/tests/transactionTests.test.js
  automation/tests/workflowTests.test.js
  automation/utils/util.js
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Bump node from 22.12.0 to 24.9.0.
  .github/workflows/test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Bump pnpm from 9.15.3 to 10.15.1
  .github/workflows/test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Add DEBUG=pw:api option to playwright runs.
  .github/workflows/test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

chore: miscellaneous refactoring (#2002)
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
  front-end/src/renderer/pages/TransactionGroupDetails/TransactionGroupDetails.vue
  front-end/src/renderer/utils/index.ts
  front-end/src/renderer/utils/transferTransactions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: update playwright dependency (#2006)
  automation/package.json
  automation/playwright.config.js
  automation/pnpm-lock.yaml
  automation/tests/groupTransactionTests.test.js
  automation/tests/loginTests.test.js
  automation/tests/organizationContactListTests.test.js
  automation/tests/organizationGroupTests.test.js
  automation/tests/organizationNotificationTests.test.js
  automation/tests/organizationRegressionTests.test.js
  automation/tests/organizationSettingsTests.test.js
  automation/tests/organizationTransactionTests.test.js
  automation/tests/registrationTests.test.js
  automation/tests/settingsTests.test.js
  automation/tests/systemFileTests.test.js
  automation/tests/transactionTests.test.js
  automation/tests/workflowTests.test.js
  automation/utils/util.js
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: fix docker in macos runner
  .github/workflows/000-user-official-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: move to using helm registry login instead
  .github/workflows/000-user-official-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

playwright.config.js now setup retries and timeout according DEV or CI env.
  automation/playwright.config.js
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: setting playwright retries and timeout according CI or DEV environment (#2008)
  automation/playwright.config.js
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

add argument to getToastMessage() test utilities to dismiss the toast when it is an error.
  automation/pages/GroupPage.js
  automation/pages/RegistrationPage.js
  automation/tests/groupTransactionTests.test.js
  automation/tests/organizationGroupTests.test.js
  automation/tests/organizationSettingsTests.test.js
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

test: allow to dismiss the toast when it is an error (#2009)
  automation/pages/GroupPage.js
  automation/pages/RegistrationPage.js
  automation/tests/groupTransactionTests.test.js
  automation/tests/organizationGroupTests.test.js
  automation/tests/organizationSettingsTests.test.js
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Notes added by 'git notes add'
  d5fa08467fa80aac695ea77ab013bec536009ce2
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: fix github token var
  .github/workflows/000-user-official-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: fix commit signoff
  .releaserc
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Notes added by 'git notes add'
  7a7796387568fd4a5bbdb36bb7acf20e081dca37
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: modify workflow permissions
  .github/workflows/000-user-official-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Notes added by 'git notes add'
  66a488c6f67ba60b9bf97162422fa667a876286b
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Update Solo CLI version in workflow
  .github/workflows/test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Use less padding between the transaction tables columns.
  front-end/src/renderer/styles/_ui-elements.scss
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Shorten transaction types in various transaction tables.
  front-end/src/renderer/pages/TransactionGroupDetails/TransactionGroupDetails.vue
  front-end/src/renderer/pages/Transactions/components/History.vue
  front-end/src/renderer/pages/Transactions/components/InProgress.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForExecution.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForReview.vue
  front-end/src/renderer/pages/Transactions/components/ReadyToSign.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Expose formatTransactionType() as renderer util.
  front-end/src/renderer/utils/sdk/transactions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Use ellipsis instead of '...' for loading babel of regular action button and keep the same label when loading for small version of SIGN button embedded in tables to avoid fidgeting.
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
  front-end/src/renderer/pages/TransactionGroupDetails/TransactionGroupDetails.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Use short form of transaction type also in Drafts table.
  automation/tests/transactionTests.test.js
  front-end/src/renderer/pages/Transactions/components/Drafts.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Use compact form of DateTimeString in transaction tables.
  front-end/src/renderer/pages/Transactions/components/Drafts.vue
  front-end/src/renderer/pages/Transactions/components/History.vue
  front-end/src/renderer/pages/Transactions/components/InProgress.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForExecution.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForReview.vue
  front-end/src/renderer/pages/Transactions/components/ReadyToSign.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Adjust min-width for action buttons located inside table cells.
  front-end/src/renderer/pages/Transactions/components/Drafts.vue
  front-end/src/renderer/pages/Transactions/components/History.vue
  front-end/src/renderer/pages/Transactions/components/InProgress.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForExecution.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForReview.vue
  front-end/src/renderer/pages/Transactions/components/ReadyToSign.vue
  front-end/src/renderer/styles/_ui-elements.scss
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: fix package name
  .releaserc
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Reduce left hand side menu width.
  front-end/src/renderer/styles/_layout.scss
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Notes added by 'git notes add'
  243f51297dc76c1f8597353580567a149e0886a6
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: fix helm chart name again
  .releaserc
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Notes added by 'git notes add'
  ccb36edb2d596a6dcbb353ec5683f44971c36adf
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: more helm package name fixes
  .releaserc
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore(release): 98.101.0 [skip ci]
  charts/transaction-tool/Chart.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Notes added by 'git notes add'
  da42e145048b183e7185d8c2666f1638fd514612
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: make room in tables (#2001)
  automation/tests/transactionTests.test.js
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
  front-end/src/renderer/pages/TransactionGroupDetails/TransactionGroupDetails.vue
  front-end/src/renderer/pages/Transactions/components/Drafts.vue
  front-end/src/renderer/pages/Transactions/components/History.vue
  front-end/src/renderer/pages/Transactions/components/InProgress.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForExecution.vue
  front-end/src/renderer/pages/Transactions/components/ReadyForReview.vue
  front-end/src/renderer/pages/Transactions/components/ReadyToSign.vue
  front-end/src/renderer/styles/_ui-elements.scss
  front-end/src/renderer/utils/sdk/transactions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Add support for signing transactions in the ReadyToSign table.
  front-end/src/renderer/pages/Transactions/components/ReadyToSign.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Do not wrap buttons in the same row.
  front-end/src/renderer/pages/Transactions/components/ReadyToSign.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Fix handling of signing in progress for single transactions.
  front-end/src/renderer/pages/Transactions/components/ReadyToSign.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/transaction-tool @SvetBorislavov @yiliev0

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/LICENSE                                      @hashgraph/release-engineering-managers @hashgraph/transaction-tool

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
