Repository hashgraph/hedera-transaction-tool, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/transaction-tool @SvetBorislavov @yiliev0

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/LICENSE                                      @hashgraph/release-engineering-managers @hashgraph/transaction-tool

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool

fix: async fetch func
  front-end/src/renderer/components/Transaction/Details/AccountApproveAllowanceDetails.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: checksums in AccountApprovalAllowanceDetails
  front-end/src/renderer/components/Transaction/Details/AccountApproveAllowanceDetails.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: improved performance
  front-end/src/main/shared/interfaces/IUserLinkedAccounts.ts
  front-end/src/main/shared/interfaces/index.ts
  front-end/src/renderer/components/Transaction/Details/AccountApproveAllowanceDetails.vue
  front-end/src/renderer/components/Transaction/Details/AccountDetails.vue
  front-end/src/renderer/components/Transaction/Details/DeleteAccountDetails.vue
  front-end/src/renderer/pages/TransactionDetails/TransactionDetails.vue
  front-end/src/renderer/utils/index.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: shouldPassAllLinkedAccounts
  front-end/src/renderer/pages/TransactionDetails/TransactionDetails.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: clear words in RestoreKey
  front-end/src/renderer/pages/RestoreKey/RestoreKey.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: func name
  front-end/src/renderer/components/Transaction/Details/AccountApproveAllowanceDetails.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: Add required build tools for sqlite3 native module
  .github/workflows/test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

chore: revert workflow changes
  .github/workflows/test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: salt rounds
  back-end/apps/api/src/users/users.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: pbkdf2 iterations
  front-end/src/main/utils/crypto.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: pbkdf2 iterations
  front-end/src/main/services/localUser/dataMigration.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

revert: legacyMnemonic iterations
  front-end/src/main/services/localUser/dataMigration.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: clear time in RuningClockDatePicker
  front-end/src/renderer/components/RunningClockDatePicker.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: transaction drafts in group
  front-end/src/renderer/components/Transaction/Create/BaseTransaction/BaseTransaction.vue
  front-end/src/renderer/utils/sdk/getData.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: track changes in draft transactions from a group
  front-end/src/renderer/components/Transaction/Create/BaseTransaction/BaseTransaction.vue
  front-end/src/renderer/utils/sdk/getData.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: update admin wording
  front-end/src/renderer/components/Contacts/ContactDetails.vue
  front-end/src/renderer/components/Contacts/ElevateContactModal.vue
  front-end/src/renderer/services/organization/auth.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: wording for notification
  back-end/libs/common/src/utils/notifications/notify-templates.ts
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: update node versions in workflows
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

feat: update electron
  NOTICE
  front-end/package.json
  front-end/pnpm-lock.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: update version
  .github/workflows/test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

feat: lock pnpm version
  .github/workflows/test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

revert: update electron
  NOTICE
  front-end/package.json
  front-end/pnpm-lock.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: add resend email for signers (#1511)
  back-end/apps/api/src/notification-receiver/notification-receiver.controller.spec.ts
  back-end/apps/api/src/notification-receiver/notification-receiver.controller.ts
  back-end/apps/api/src/notification-receiver/notification-receiver.module.ts
  back-end/apps/api/src/notification-receiver/notification-receiver.service.spec.ts
  back-end/apps/api/src/notification-receiver/notification-receiver.service.ts
  back-end/apps/api/src/transactions/transactions.module.ts
  back-end/apps/notifications/src/receiver/receiver.service.ts
  back-end/apps/notifications/src/receiver/services/reminder-handler.service.spec.ts
  back-end/apps/notifications/src/receiver/services/reminder-handler.service.ts
  back-end/libs/common/src/constants/notificationTypeEmailSubjects.ts
  back-end/libs/common/src/database/entities/notifications/notification.entity.ts
  back-end/libs/common/src/dtos/notifications-notify-general.dto.ts
  back-end/libs/common/src/utils/client/index.ts
  back-end/libs/common/src/utils/index.ts
  back-end/libs/common/src/utils/notifications/index.ts
  back-end/libs/common/src/utils/notifications/notify-templates.ts
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
  front-end/src/renderer/services/organization/notifications.ts
  front-end/src/renderer/utils/axios.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: allow users to elevate other admins (#1509)
  back-end/apps/api/src/auth/auth.controller.spec.ts
  back-end/apps/api/src/auth/auth.controller.ts
  back-end/apps/api/src/auth/auth.service.spec.ts
  back-end/apps/api/src/auth/auth.service.ts
  back-end/apps/api/src/auth/dtos/elevate-admin.dto.ts
  back-end/apps/api/src/auth/dtos/index.ts
  back-end/apps/api/test/spec/auth.e2e-spec.ts
  front-end/src/renderer/components/Contacts/ContactDetails.vue
  front-end/src/renderer/components/Contacts/ElevateContactModal.vue
  front-end/src/renderer/pages/ContactList/ContactList.vue
  front-end/src/renderer/services/organization/auth.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: update node versions in workflows (#1523)
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
  NOTICE
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: update vitest
  NOTICE
  front-end/package.json
  front-end/pnpm-lock.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: mnemonic displayed as 6x4 grid with copy button added
  front-end/src/renderer/pages/Migrate/components/Summary.vue
  front-end/src/renderer/pages/Migrate/components/SummaryItem.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: update Vitest (#1526)
  NOTICE
  front-end/package.json
  front-end/pnpm-lock.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: create route for fetching all keys
  back-end/apps/api/src/user-keys/user-keys-all.controller.ts
  back-end/apps/api/src/user-keys/user-keys.service.spec.ts
  back-end/apps/api/src/user-keys/user-keys.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: accounts fetching
  front-end/src/renderer/components/Contacts/ContactDetails.vue
  front-end/src/renderer/pages/ContactList/ContactList.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: fetch keys paginated in contacts store
  front-end/src/renderer/components/Contacts/ContactDetails.vue
  front-end/src/renderer/services/organization/userKeys.ts
  front-end/src/renderer/stores/storeContacts.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: fetch user keys on select
  front-end/src/renderer/pages/ContactList/ContactList.vue
  front-end/src/renderer/stores/storeContacts.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: add route for getting all user keys with pagination
  back-end/apps/api/src/user-keys/user-keys-all.controller.spec.ts
  back-end/apps/api/src/user-keys/user-keys-all.controller.ts
  back-end/apps/api/src/user-keys/user-keys.module.ts
  back-end/apps/api/src/user-keys/user-keys.service.spec.ts
  back-end/apps/api/src/user-keys/user-keys.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: clear time in RuningClockDatePicker
  front-end/src/renderer/components/RunningClockDatePicker.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: current date
  front-end/src/renderer/components/RunningClockDatePicker.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: user keys fetching (#1528)
  back-end/apps/api/src/user-keys/user-keys-all.controller.spec.ts
  back-end/apps/api/src/user-keys/user-keys-all.controller.ts
  back-end/apps/api/src/user-keys/user-keys.module.ts
  back-end/apps/api/src/user-keys/user-keys.service.spec.ts
  back-end/apps/api/src/user-keys/user-keys.service.ts
  front-end/src/renderer/components/Contacts/ContactDetails.vue
  front-end/src/renderer/pages/ContactList/ContactList.vue
  front-end/src/renderer/services/organization/userKeys.ts
  front-end/src/renderer/stores/storeContacts.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: date picker UX updates
  front-end/src/renderer/components/RunningClockDatePicker.vue
  front-end/src/renderer/components/ui/AppDatePicker.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: watcher in TransactionDetails
  front-end/src/renderer/components/Transaction/Details/AccountApproveAllowanceDetails.vue
  front-end/src/renderer/pages/TransactionDetails/TransactionDetails.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: fetchNicknames func in AccountApproveAllowanceDetails
  front-end/src/renderer/components/Transaction/Details/AccountApproveAllowanceDetails.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: nicknames
  front-end/src/renderer/components/AccountIdsSelect.vue
  front-end/src/renderer/components/Contacts/ContactDetailsAssociatedAccounts.vue
  front-end/src/renderer/components/Contacts/ContactDetailsLinkedAccounts.vue
  front-end/src/renderer/components/SignatureStatusEntities.vue
  front-end/src/renderer/components/SignatureStatusKeyStructure.vue
  front-end/src/renderer/components/Transaction/Create/ApproveHbarAllowance/ApproveHbarAllowanceFormData.vue
  front-end/src/renderer/components/Transaction/Details/AccountDetails.vue
  front-end/src/renderer/components/Transaction/Details/DeleteAccountDetails.vue
  front-end/src/renderer/components/Transaction/Details/TransferDetails.vue
  front-end/src/renderer/components/ui/AppPublicKeyNickname.vue
  front-end/src/renderer/pages/TransactionDetails/TransactionDetails.vue
  front-end/src/renderer/utils/index.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0
