Repository hashgraph/hedera-transaction-tool, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

feat: allow skip for all steps in migration
  front-end/src/renderer/pages/Migrate/components/SelectKeys.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: batch remind-signers email implementation
  back-end/libs/common/src/templates/index.ts
  back-end/libs/common/src/templates/remind-signers.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: add paths to allow intellij to properly link usages
  front-end/tsconfig.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

build: modify mac build script to avoid race condition
  NOTICE
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

add web proxy field to node create and update transactions
  NOTICE
  automation/package.json
  back-end/package.json
  back-end/pnpm-lock.yaml
  front-end/package.json
  front-end/pnpm-lock.yaml
  front-end/src/main/shared/interfaces/HederaSchema.ts
  front-end/src/main/shared/interfaces/INodeInfoParsed.ts
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeCreate.vue
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeFormData.vue
  front-end/src/renderer/components/Transaction/Create/NodeUpdate/NodeUpdate.vue
  front-end/src/renderer/components/Transaction/Details/NodeDetails.vue
  front-end/src/renderer/services/mirrorNodeDataService.ts
  front-end/src/renderer/utils/sdk/createTransactions.ts
  front-end/src/renderer/utils/sdk/getData.ts
  front-end/tsconfig.json
  package-lock.json
  package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: issues with code cov and broken tests
  front-end/src/tests/main/db/init.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

1671 skip recovery phrase decryption in migration flow (#1689)
  automation/tests/organizationContactListTests.test.js
  back-end/libs/common/src/templates/index.ts
  back-end/libs/common/src/templates/remind-signers.ts
  front-end/src/main/services/localUser/dataMigration.ts
  front-end/src/main/shared/constants/index.ts
  front-end/src/main/shared/interfaces/migration/index.ts
  front-end/src/renderer/components/KeyPair/ImportEncrypted/components/DecryptKeyModal.vue
  front-end/src/renderer/components/KeyPair/ImportEncrypted/components/DecryptKeys.vue
  front-end/src/renderer/components/KeyPair/ImportEncrypted/components/EncryptedKeysBox.vue
  front-end/src/renderer/composables/user/useAfterOrganizationSelection.ts
  front-end/src/renderer/pages/AccountSetup/components/Generate.vue
  front-end/src/renderer/pages/Migrate/Migrate.vue
  front-end/src/renderer/pages/Migrate/components/BeginKeysImport.vue
  front-end/src/renderer/pages/Migrate/components/DecryptRecoveryPhrase.vue
  front-end/src/renderer/pages/Migrate/components/DecryptRecoveryPhraseForm.vue
  front-end/src/renderer/pages/Migrate/components/SelectKeys.vue
  front-end/src/renderer/pages/Migrate/components/SetupOrganization.vue
  front-end/src/renderer/pages/Migrate/components/SetupOrganizationForm.vue
  front-end/src/renderer/pages/Migrate/components/SetupPersonal.vue
  front-end/src/renderer/pages/Migrate/components/Summary.vue
  front-end/src/renderer/router/guards.ts
  front-end/src/renderer/utils/localServices.ts
  front-end/src/tests/main/services/localUser/dataMigration.spec.ts
  front-end/tsconfig.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

update
  front-end/package.json
  front-end/pnpm-lock.yaml
  front-end/src/main/shared/interfaces/HederaSchema.ts
  front-end/src/renderer/components/Transaction/Details/NodeDetails.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Delete package.json
  package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Delete package-lock.json
  package-lock.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: version bump for hashgraph/proto, add simplified view of the grpc web proxy endpoint in details
  NOTICE
  automation/package.json
  automation/pnpm-lock.yaml
  back-end/package.json
  back-end/pnpm-lock.yaml
  front-end/pnpm-lock.yaml
  front-end/src/renderer/components/Transaction/Details/NodeDetails.vue
  front-end/src/renderer/router/guards.ts
  front-end/src/renderer/utils/sdk/createTransactions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: typos and line spacing, code consolidation
  back-end/package.json
  front-end/src/renderer/components/AccountIdInput.vue
  front-end/src/renderer/components/AccountIdsSelect.vue
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeFormData.vue
  front-end/src/renderer/composables/useAccountId.ts
  front-end/src/renderer/pages/Accounts/Accounts.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: improper reference to data object
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeFormData.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore(tests): break workflow syntax
  .github/workflows/publish-official-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

chore(tests): revert break workflow syntax
  .github/workflows/publish-official-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

disable gRPC web proxy field
  front-end/pnpm-lock.yaml
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeFormData.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

display current proxy value
  front-end/src/main/shared/interfaces/HederaSchema.ts
  front-end/src/renderer/components/Transaction/Create/NodeUpdate/NodeUpdate.vue
  front-end/src/renderer/components/Transaction/Details/NodeDetails.vue
  front-end/src/renderer/services/mirrorNodeDataService.ts
  front-end/src/renderer/utils/sdk/getData.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix formatting
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeFormData.vue
  front-end/src/renderer/components/Transaction/Details/NodeDetails.vue
  front-end/src/renderer/services/mirrorNodeDataService.ts
  front-end/src/renderer/utils/sdk/createTransactions.ts
  package-lock.json
  package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

add web proxy field to node create and update transactions (#1691)
  NOTICE
  automation/package.json
  automation/pnpm-lock.yaml
  back-end/package.json
  back-end/pnpm-lock.yaml
  front-end/package.json
  front-end/pnpm-lock.yaml
  front-end/src/main/shared/interfaces/HederaSchema.ts
  front-end/src/main/shared/interfaces/INodeInfoParsed.ts
  front-end/src/renderer/components/AccountIdInput.vue
  front-end/src/renderer/components/AccountIdsSelect.vue
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeCreate.vue
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeFormData.vue
  front-end/src/renderer/components/Transaction/Create/NodeUpdate/NodeUpdate.vue
  front-end/src/renderer/components/Transaction/Details/NodeDetails.vue
  front-end/src/renderer/composables/useAccountId.ts
  front-end/src/renderer/pages/Accounts/Accounts.vue
  front-end/src/renderer/services/mirrorNodeDataService.ts
  front-end/src/renderer/utils/sdk/createTransactions.ts
  front-end/src/renderer/utils/sdk/getData.ts
  package-lock.json
  package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: update outdated documentation link in README.md
  README.md
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/transaction-tool

chore: fix gpg key import and gnupg install steps
  .github/workflows/publish-official-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: remove unused semantic release plugin
  .github/workflows/publish-official-release.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Notes added by 'git notes add'
  0c3197eb5cc55b247c07f55cd892f1e02cf3515b
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: remove labels for the release build artifacts
  .releaserc
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Notes added by 'git notes add'
  94bd80a485f7323e9b3f3ff5f41c166c7ad73958
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: add commit signoff for semantic release
  .releaserc
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Notes added by 'git notes add'
  7b2ef87fc6a2ebffccd9b03f03d2414f8810317c
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: correct commit signoff
  .releaserc
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore(release): 98.99.0 [skip ci]
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Notes added by 'git notes add'
  c20f93575296d8169d9893b4cb6d000eddf93eac
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Update README.md for working link (#1677)
  README.md
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/transaction-tool

chore: moving the shared mirror node api usages and types to a shared location for back-end and front-end
  NOTICE
  back-end/libs/common/src/index.ts
  back-end/libs/common/src/schemas/index.ts
  back-end/libs/common/src/types/AccountInfoParsed.ts
  back-end/libs/common/src/types/NodeInfoParsed.ts
  back-end/libs/common/src/types/index.ts
  back-end/libs/common/src/utils/sdk/transaction.ts
  back-end/libs/common/src/utils/transaction/index.spec.ts
  back-end/libs/common/src/utils/transaction/index.ts
  back-end/package.json
  back-end/pnpm-lock.yaml
  front-end/package.json
  front-end/pnpm-lock.yaml
  front-end/src/main/shared/interfaces/HederaSchema.ts
  front-end/src/main/shared/interfaces/INodeInfoParsed.ts
  front-end/src/main/shared/interfaces/index.ts
  front-end/src/renderer/components/Transaction/Create/AccountDelete/AccountDelete.vue
  front-end/src/renderer/components/Transaction/Create/AccountDelete/AccountDeleteFormData.vue
  front-end/src/renderer/components/Transaction/Create/AccountUpdate/AccountUpdate.vue
  front-end/src/renderer/components/Transaction/Create/AccountUpdate/AccountUpdateFormData.vue
  front-end/src/renderer/components/Transaction/Create/ApproveHbarAllowance/ApproveHbarAllowance.vue
  front-end/src/renderer/components/Transaction/Create/ApproveHbarAllowance/ApproveHbarAllowanceFormData.vue
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeFormData.vue
  front-end/src/renderer/components/Transaction/Create/NodeUpdate/NodeUpdate.vue
  front-end/src/renderer/components/Transaction/Create/TransferHbar/TransferHbar.vue
  front-end/src/renderer/components/Transaction/Create/TransferHbar/TransferHbarFormData.vue
  front-end/src/renderer/components/Transaction/TransactionProcessor/requests.ts
  front-end/src/renderer/composables/useNodeId.ts
  front-end/src/renderer/utils/sdk/createTransactions.ts
  lib/index.ts
  lib/package.json
  lib/pnpm-lock.yaml
  lib/src/interfaces/HederaSchema.ts
  lib/src/interfaces/IAccountInfoParsed.ts
  lib/src/interfaces/INodeInfoParsed.ts
  lib/src/interfaces/index.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

chore: moving the shared mirror node api usages and types to a shared location for back-end and front-end
  front-end/src/renderer/composables/useAccountId.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

bump: version 0.15.0
  back-end/apps/api/package.json
  back-end/apps/chain/package.json
  back-end/apps/notifications/package.json
  back-end/package.json
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

bump: version 0.15.0 (#1695)
  back-end/apps/api/package.json
  back-end/apps/chain/package.json
  back-end/apps/notifications/package.json
  back-end/package.json
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Init stackgres
  charts/transaction-tool/Chart.lock
  charts/transaction-tool/Chart.yaml
  charts/transaction-tool/README.md
  charts/transaction-tool/templates/stackgres/SGCluster.yaml
  charts/transaction-tool/templates/stackgres/SGInstanceProfile-coordinator.yaml
  charts/transaction-tool/templates/stackgres/SGInstanceProfile-worker.yaml
  charts/transaction-tool/templates/stackgres/SGObjectStorage.yaml
  charts/transaction-tool/templates/stackgres/SGPoolingConfig-coordinator.yaml
  charts/transaction-tool/templates/stackgres/SGPoolingConfig-worker.yaml
  charts/transaction-tool/templates/stackgres/SGPostgresConfig-coordinator.yaml
  charts/transaction-tool/templates/stackgres/SGPostgresConfig-worker.yaml
  charts/transaction-tool/templates/stackgres/SGPostgresConfig.yaml
  charts/transaction-tool/templates/stackgres/SGScript-coordinator.yaml
  charts/transaction-tool/templates/stackgres/SGScript-worker.yaml
  charts/transaction-tool/templates/stackgres/SGShardedCluster.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Some needed changes
  charts/transaction-tool/crds/cnpg-1.24.1.yaml
  charts/transaction-tool/templates/pgsql-cluster.yaml
  charts/transaction-tool/templates/secrets.yaml
  charts/transaction-tool/templates/stackgres/SGCluster.yaml
  charts/transaction-tool/templates/stackgres/SGShardedCluster.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Fix errors
  charts/transaction-tool/templates/stackgres/SGCluster.yaml
  charts/transaction-tool/templates/stackgres/ServiceAccount.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Update README.md
  charts/transaction-tool/README.md
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Some less overwhelming defaults
  charts/transaction-tool/templates/stackgres/SGObjectStorage.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/transaction-tool @SvetBorislavov @yiliev0

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/LICENSE                                      @hashgraph/release-engineering-managers @hashgraph/transaction-tool

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
