Repository hashgraph/hedera-transaction-tool, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

test: tests are not covering all cases in private functions, add more tests
  back-end/apps/notifications/src/receiver/receiver.service.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

test: tests for private callback function in email.service.ts
  back-end/apps/notifications/src/email/email.service.spec.ts
  back-end/apps/notifications/src/email/email.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

test: tests for dock bouncing
  front-end/src/tests/main/modules/ipcHandlers/utils.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

test: large group tests don't work well with individual signing process, allow them to be signed all together.
  automation/pages/GroupPage.js
  automation/tests/organizationGroupTests.test.js
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

bump: version 0.14.0 bump
  back-end/apps/api/package.json
  back-end/apps/chain/package.json
  back-end/apps/notifications/package.json
  back-end/package.json
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

bump: v0.13.0 (#1645)
  back-end/apps/api/package.json
  back-end/apps/chain/package.json
  back-end/apps/notifications/package.json
  back-end/package.json
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Helm chart for Transaction Tools
  charts/transaction-tool/Chart.lock
  charts/transaction-tool/Chart.yaml
  charts/transaction-tool/README.md
  charts/transaction-tool/crds/cnpg-1.24.1.yaml
  charts/transaction-tool/crds/rmq-cluster-operator.yaml
  charts/transaction-tool/templates/_helpers.tpl
  charts/transaction-tool/templates/api-deployment.yaml
  charts/transaction-tool/templates/api-service.yaml
  charts/transaction-tool/templates/auth-service.yaml
  charts/transaction-tool/templates/chain-deployment.yaml
  charts/transaction-tool/templates/ingress.yaml
  charts/transaction-tool/templates/notifications-deployment.yaml
  charts/transaction-tool/templates/notifications-service.yaml
  charts/transaction-tool/templates/pgsql-cluster.yaml
  charts/transaction-tool/templates/rmq-cluster.yaml
  charts/transaction-tool/templates/secrets.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Cleanup and improvements #1
  charts/transaction-tool/templates/api-service.yaml
  charts/transaction-tool/templates/auth-service.yaml
  charts/transaction-tool/templates/notifications-service.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

New rmq values
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Fixes 2
  charts/transaction-tool/templates/ingress.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Add values and annotations everywhere
  charts/transaction-tool/templates/api-deployment.yaml
  charts/transaction-tool/templates/api-service.yaml
  charts/transaction-tool/templates/auth-service.yaml
  charts/transaction-tool/templates/chain-deployment.yaml
  charts/transaction-tool/templates/ingress.yaml
  charts/transaction-tool/templates/notifications-deployment.yaml
  charts/transaction-tool/templates/notifications-service.yaml
  charts/transaction-tool/templates/pgsql-cluster.yaml
  charts/transaction-tool/templates/rmq-cluster.yaml
  charts/transaction-tool/templates/secrets.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Cleanup and better comments
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Fixed path
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Add labels and annotations, a few common functions, and tie resource naming to the helm chart
  charts/transaction-tool/templates/_helpers.tpl
  charts/transaction-tool/templates/api-deployment.yaml
  charts/transaction-tool/templates/api-service.yaml
  charts/transaction-tool/templates/auth-service.yaml
  charts/transaction-tool/templates/chain-deployment.yaml
  charts/transaction-tool/templates/ingress.yaml
  charts/transaction-tool/templates/notifications-deployment.yaml
  charts/transaction-tool/templates/notifications-service.yaml
  charts/transaction-tool/templates/pgsql-cluster.yaml
  charts/transaction-tool/templates/rmq-cluster.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Fix annotations, labels and namespaces so that they render properly
  charts/transaction-tool/templates/api-deployment.yaml
  charts/transaction-tool/templates/auth-service.yaml
  charts/transaction-tool/templates/chain-deployment.yaml
  charts/transaction-tool/templates/ingress.yaml
  charts/transaction-tool/templates/notifications-deployment.yaml
  charts/transaction-tool/templates/notifications-service.yaml
  charts/transaction-tool/templates/pgsql-cluster.yaml
  charts/transaction-tool/templates/rmq-cluster.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Use ghcr.io once images are available
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: Add docker image builds (#1660)
  .github/workflows/publish-docker-images.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Update sql, redis, and rabbitmq URLs
  charts/transaction-tool/templates/_helpers.tpl
  charts/transaction-tool/templates/api-deployment.yaml
  charts/transaction-tool/templates/api-service.yaml
  charts/transaction-tool/templates/auth-service.yaml
  charts/transaction-tool/templates/chain-deployment.yaml
  charts/transaction-tool/templates/ingress.yaml
  charts/transaction-tool/templates/notifications-deployment.yaml
  charts/transaction-tool/templates/notifications-service.yaml
  charts/transaction-tool/templates/pgsql-cluster.yaml
  charts/transaction-tool/templates/rmq-cluster.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Option email variables (#1662)
  back-end/README.md
  back-end/apps/notifications/src/email/email.service.ts
  back-end/apps/notifications/src/notifications.module.ts
  back-end/k8s/back-end/notifications-deployment.yaml
  back-end/k8s/dev/deployments/notifications-deployment.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Fix
  charts/transaction-tool/templates/notifications-service.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Major improvements. Still losts to do but the helpers are adding too many empty lines
  charts/transaction-tool/templates/_helpers.tpl
  charts/transaction-tool/templates/api-service.yaml
  charts/transaction-tool/templates/auth-service.yaml
  charts/transaction-tool/templates/pgsql-cluster.yaml
  charts/transaction-tool/templates/rmq-cluster.yaml
  charts/transaction-tool/templates/secrets.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

1658 daily rewards support for dab transactions (#1666)
  NOTICE
  automation/package.json
  automation/pages/DetailsPage.js
  automation/pnpm-lock.yaml
  automation/tests/workflowTests.test.js
  back-end/apps/api/test/utils/hederaUtils.ts
  back-end/libs/common/src/models/transaction-factory.ts
  back-end/libs/common/src/utils/sdk/transaction.ts
  back-end/package.json
  back-end/pnpm-lock.yaml
  front-end/package.json
  front-end/pnpm-lock.yaml
  front-end/src/main/shared/interfaces/INodeInfoParsed.ts
  front-end/src/renderer/components/Transaction/Create/BaseTransaction/BaseGroupHandler.vue
  front-end/src/renderer/components/Transaction/Create/BaseTransaction/BaseTransaction.vue
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeCreate.vue
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeFormData.vue
  front-end/src/renderer/components/Transaction/Create/NodeUpdate/NodeUpdate.vue
  front-end/src/renderer/components/Transaction/Details/AccountDetails.vue
  front-end/src/renderer/components/Transaction/Details/NodeDetails.vue
  front-end/src/renderer/components/Transaction/TransactionGroupProcessor.vue
  front-end/src/renderer/components/Transaction/TransactionProcessor/components/BigFileOrganizationRequestHandler.vue
  front-end/src/renderer/components/Transaction/TransactionProcessor/components/ConfirmTransactionHandler.vue
  front-end/src/renderer/components/Transaction/TransactionProcessor/components/ExecutePersonalRequestHandler.vue
  front-end/src/renderer/components/Transaction/TransactionProcessor/components/MultipleAccountUpdateRequestHandler.vue
  front-end/src/renderer/components/Transaction/TransactionProcessor/components/ValidateRequestHandler.vue
  front-end/src/renderer/services/mirrorNodeDataService.ts
  front-end/src/renderer/services/transactionDraftsService.ts
  front-end/src/renderer/services/transactionGroupsService.ts
  front-end/src/renderer/utils/sdk/createTransactions.ts
  front-end/src/renderer/utils/sdk/getData.ts
  front-end/src/renderer/utils/sdk/transactions.ts
  front-end/src/renderer/utils/transactionSignatureModels/transaction-factory.ts
  front-end/src/renderer/utils/transactions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Helm chart batteries included
  charts/transaction-tool/Chart.lock
  charts/transaction-tool/Chart.yaml
  charts/transaction-tool/README.md
  charts/transaction-tool/crds/cnpg-1.24.1.yaml
  charts/transaction-tool/crds/rmq-cluster-operator.yaml
  charts/transaction-tool/templates/_helpers.tpl
  charts/transaction-tool/templates/api-deployment.yaml
  charts/transaction-tool/templates/api-service.yaml
  charts/transaction-tool/templates/auth-service.yaml
  charts/transaction-tool/templates/chain-deployment.yaml
  charts/transaction-tool/templates/ingress.yaml
  charts/transaction-tool/templates/notifications-deployment.yaml
  charts/transaction-tool/templates/notifications-service.yaml
  charts/transaction-tool/templates/pgsql-cluster.yaml
  charts/transaction-tool/templates/rmq-cluster.yaml
  charts/transaction-tool/templates/secrets.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Match chart version with latest appVersion
  charts/transaction-tool/Chart.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Update README.md for working link
  README.md
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/transaction-tool

EMAIL credentials optional and removed BREVO specific properties
  charts/transaction-tool/templates/api-deployment.yaml
  charts/transaction-tool/templates/chain-deployment.yaml
  charts/transaction-tool/templates/notifications-deployment.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Helm chart (#1678)
  charts/transaction-tool/Chart.lock
  charts/transaction-tool/Chart.yaml
  charts/transaction-tool/README.md
  charts/transaction-tool/crds/cnpg-1.24.1.yaml
  charts/transaction-tool/crds/rmq-cluster-operator.yaml
  charts/transaction-tool/templates/_helpers.tpl
  charts/transaction-tool/templates/api-deployment.yaml
  charts/transaction-tool/templates/api-service.yaml
  charts/transaction-tool/templates/auth-service.yaml
  charts/transaction-tool/templates/chain-deployment.yaml
  charts/transaction-tool/templates/ingress.yaml
  charts/transaction-tool/templates/notifications-deployment.yaml
  charts/transaction-tool/templates/notifications-service.yaml
  charts/transaction-tool/templates/pgsql-cluster.yaml
  charts/transaction-tool/templates/rmq-cluster.yaml
  charts/transaction-tool/templates/secrets.yaml
  charts/transaction-tool/values.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: migration should skip AccountSetup steps as mnemonic and keys should be present.
  front-end/src/renderer/pages/Migrate/components/DecryptRecoveryPhraseForm.vue
  front-end/src/renderer/pages/Migrate/components/Summary.vue
  front-end/src/renderer/router/guards.ts
  front-end/src/renderer/utils/userStoreHelpers.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: if the user goes through the migration process, skip the setup step to ensure no confusion.
  front-end/src/renderer/pages/Migrate/Migrate.vue
  front-end/src/renderer/pages/Migrate/components/SelectKeys.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: should only guard against any route other than 'accountSetup' if accountSetupStarted is true
  automation/tests/organizationContactListTests.test.js
  front-end/src/renderer/router/guards.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

1674 migration mnemonic decryption bug (#1680)
  automation/tests/organizationContactListTests.test.js
  front-end/src/renderer/pages/Migrate/Migrate.vue
  front-end/src/renderer/pages/Migrate/components/DecryptRecoveryPhraseForm.vue
  front-end/src/renderer/pages/Migrate/components/SelectKeys.vue
  front-end/src/renderer/pages/Migrate/components/Summary.vue
  front-end/src/renderer/router/guards.ts
  front-end/src/renderer/utils/userStoreHelpers.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

build(deps): update electron deps to ensure successful frontend builds
  .releaserc
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

build(deps): update lockfile
  front-end/pnpm-lock.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: migration should skip AccountSetup steps as mnemonic and keys should be present.
  front-end/src/renderer/router/guards.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: typo
  front-end/src/main/shared/constants/index.ts
  front-end/src/renderer/pages/AccountSetup/components/Generate.vue
  front-end/src/renderer/utils/localServices.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: allow user to skip steps in migration
  front-end/src/renderer/components/KeyPair/ImportEncrypted/components/DecryptKeyModal.vue
  front-end/src/renderer/components/KeyPair/ImportEncrypted/components/DecryptKeys.vue
  front-end/src/renderer/components/KeyPair/ImportEncrypted/components/EncryptedKeysBox.vue
  front-end/src/renderer/pages/Migrate/components/BeginKeysImport.vue
  front-end/src/renderer/pages/Migrate/components/DecryptRecoveryPhrase.vue
  front-end/src/renderer/pages/Migrate/components/DecryptRecoveryPhraseForm.vue
  front-end/src/renderer/pages/Migrate/components/SetupOrganization.vue
  front-end/src/renderer/pages/Migrate/components/SetupOrganizationForm.vue
  front-end/src/renderer/pages/Migrate/components/SetupPersonal.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

build(deps): revert electron-updater to previous version
  front-end/package.json
  front-end/pnpm-lock.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

build(deps): test reverting electron-builder to previous version
  front-end/package.json
  front-end/pnpm-lock.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: add public key importing to migration
  automation/tests/organizationContactListTests.test.js
  front-end/src/main/services/localUser/dataMigration.ts
  front-end/src/main/shared/interfaces/migration/index.ts
  front-end/src/renderer/pages/Migrate/components/Summary.vue
  front-end/src/tests/main/db/init.spec.ts
  front-end/src/tests/main/services/localUser/dataMigration.spec.ts
  front-end/tsconfig.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

fix: fix for navigation issues during and after migration in relation to user skipping setup
  front-end/src/main/shared/constants/index.ts
  front-end/src/renderer/composables/user/useAfterOrganizationSelection.ts
  front-end/src/renderer/pages/Migrate/Migrate.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/transaction-tool @SvetBorislavov @yiliev0

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/LICENSE                                      @hashgraph/release-engineering-managers @hashgraph/transaction-tool

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
