Repository hashgraph/hedera-transaction-tool, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0, @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

prisma update
  front-end/package-lock.json
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Revert "prisma update"
  front-end/package-lock.json
  front-end/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Freeze TX types from FE
  front-end/src/renderer/pages/Transactions/components/History.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  front-end/src/renderer/utils/sdk/transactions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Freeze TX types in Drafts
  front-end/src/renderer/pages/Transactions/components/Drafts.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

tests added
  front-end/src/renderer/utils/sdk/transactions.ts
  front-end/src/tests/renderer/utils/sdk/transactions.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Revert "Freeze TX types in Drafts"
  front-end/src/renderer/pages/Transactions/components/Drafts.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Revert "Freeze TX types from FE"
  front-end/src/renderer/pages/Transactions/components/History.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  front-end/src/renderer/utils/sdk/transactions.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

added a regex stripping function in fe
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeFormData.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: enhance transaction group handling and notification filtering
  NOTICE
  back-end/apps/api/src/transactions/groups/transaction-groups.service.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.spec.ts
  back-end/apps/api/src/transactions/transactions.controller.spec.ts
  back-end/apps/api/src/transactions/transactions.service.spec.ts
  back-end/apps/api/src/transactions/transactions.service.ts
  back-end/apps/notifications/src/receiver/receiver.service.ts
  back-end/libs/common/src/pipes/enum-array-validation.pipe.spec.ts
  back-end/libs/common/src/sql/queries/transaction.queries.spec.ts
  back-end/libs/common/src/sql/queries/transaction.queries.ts
  back-end/libs/common/src/sql/sql-builder.service.spec.ts
  back-end/libs/common/src/transaction-signature/account-cache.service.spec.ts
  back-end/libs/common/src/transaction-signature/cache.helper.spec.ts
  back-end/libs/common/src/transaction-signature/node-cache.service.spec.ts
  front-end/src/renderer/components/Transaction/TransactionGroupProcessor.vue
  front-end/src/renderer/components/Transaction/TransactionProcessor/components/BigFileOrganizationRequestHandler.vue
  front-end/src/renderer/components/Transaction/TransactionProcessor/components/MultipleAccountUpdateRequestHandler.vue
  front-end/src/renderer/composables/useFilterNotifications.ts
  front-end/src/renderer/composables/useMarkNotifications.ts
  front-end/src/renderer/pages/TransactionDetails/TransactionDetails.vue
  front-end/src/renderer/pages/TransactionGroupDetails/TransactionGroupDetails.vue
  front-end/src/renderer/pages/Transactions/Transactions.vue
  front-end/src/renderer/pages/Transactions/components/SignGroupButton.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeTable.vue
  front-end/src/renderer/services/organization/transactionGroup.ts
  front-end/src/renderer/stores/storeWebsocketConnection.ts
  front-end/src/shared/interfaces/organization/notification-receiver/index.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: add migration job and enhance caching index management
  back-end/k8s/dev/deployments/migration-down-job.yaml
  back-end/libs/common/src/transaction-signature/account-cache.service.ts
  back-end/libs/common/src/transaction-signature/transaction-signature.service.ts
  back-end/typeorm/migrations/1768289349311-IndexFixesForCaching.ts
  back-end/typeorm/package.json
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Saving Work in Progress
  .gitignore
  NOTICE
  front-end/electron-builder.yml
  front-end/package.json
  front-end/pnpm-lock.yaml
  front-end/prisma.config.ts
  front-end/prisma/schema.prisma
  front-end/src/main/db/prisma.ts
  front-end/src/main/index.ts
  front-end/src/tests/main/db/prisma.spec.ts
  front-end/tsconfig.json
  front-end/tsconfig.node.json
  front-end/tsconfig.web.json
  front-end/vite.config.ts
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Linting fix
  front-end/eslint.config.cjs
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Prisma client needs to be generated before tests run
  .github/workflows/test-frontend.yaml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

Update vitest.config.main.ts
  front-end/src/tests/vitest.config.main.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

docs(backend readme): Revise Brevo account setup and deployment steps
  back-end/README.md
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: update caching index structure and enforce NOT NULL constraints
  back-end/typeorm/migrations/1768289349311-IndexFixesForCaching.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

feat: implement buildAdditionalData method to handle groupId in transactions
  back-end/apps/notifications/src/receiver/receiver.service.spec.ts
  back-end/apps/notifications/src/receiver/receiver.service.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added signer/signature counters to ITransactionNode.
  back-end/apps/api/src/transactions/dto/ITransactionNode.ts
  back-end/apps/api/src/transactions/dto/transaction-node.dto.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.controller.spec.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.spec.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.util.spec.ts
  back-end/apps/api/src/transactions/transactions.controller.ts
  back-end/libs/common/src/utils/transaction/index.ts
  shared/src/ITransactionNode.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added ITransactionNode.creatorId and supporting logic.
  back-end/apps/api/src/transactions/dto/ITransactionNode.ts
  back-end/apps/api/src/transactions/dto/transaction-node.dto.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.spec.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  back-end/apps/api/src/transactions/transactions.service.ts
  shared/src/ITransactionNode.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

docs: improve backend README with Kubernetes setup, troubleshooting, and fixes. (#1782)
  back-end/README.md
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

CSS fix
  front-end/src/renderer/pages/Accounts/Accounts.vue
  front-end/src/renderer/pages/Files/Files.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Test fixes
  automation/pages/TransactionPage.ts
  automation/playwright.config.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Init
  front-end/src/renderer/pages/Transactions/components/Drafts.vue
  front-end/src/renderer/pages/Transactions/components/History.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  front-end/src/renderer/utils/sdk/transactions.ts
  front-end/src/tests/renderer/utils/sdk/transactions.spec.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Test fixes
  automation/pages/TransactionPage.ts
  automation/playwright.config.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added a regex formatting function in FE
  front-end/src/renderer/components/Transaction/Create/NodeCreate/NodeFormData.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Test fixes
  automation/pages/TransactionPage.ts
  automation/playwright.config.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Updated Prisma ORM
  .github/workflows/test-frontend.yaml
  .gitignore
  NOTICE
  front-end/electron-builder.yml
  front-end/eslint.config.cjs
  front-end/package.json
  front-end/pnpm-lock.yaml
  front-end/prisma.config.ts
  front-end/prisma/schema.prisma
  front-end/src/main/db/prisma.ts
  front-end/src/main/index.ts
  front-end/src/tests/main/db/prisma.spec.ts
  front-end/src/tests/vitest.config.main.ts
  front-end/tsconfig.json
  front-end/tsconfig.node.json
  front-end/tsconfig.web.json
  front-end/vite.config.ts
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Test fixes
  automation/pages/TransactionPage.ts
  automation/playwright.config.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Prisma fixes
  front-end/package.json
  front-end/pnpm-lock.yaml
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Experimental external signing work.
  back-end/apps/api/src/transactions/dto/ITransactionNode.ts
  back-end/apps/api/src/transactions/dto/transaction-node.dto.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  front-end/src/renderer/components/ExternalSigning/ExternalSigningActionButton.vue
  front-end/src/renderer/components/ExternalSigning/ExternalSigningActionModal.vue
  front-end/src/renderer/components/ExternalSigning/Request/CreateExternalSigningRequestButton.vue
  front-end/src/renderer/components/ExternalSigning/Request/CreateExternalSigningRequestModal.vue
  front-end/src/renderer/components/ExternalSigning/Request/ReviewExternalSigningRequestButton.vue
  front-end/src/renderer/components/ExternalSigning/Request/ReviewExternalSigningRequestModal.vue
  front-end/src/renderer/components/ExternalSigning/Response/ReviewExternalSigningResponseButton.vue
  front-end/src/renderer/components/ExternalSigning/Response/ReviewExternalSigningResponseModal.vue
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
  front-end/src/renderer/pages/Transactions/Transactions.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeRow.vue
  shared/src/ITransactionNode.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Implement export V2 variant on Transaction Details view.
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
  front-end/src/renderer/pages/TransactionGroupDetails/TransactionGroupDetails.vue
  front-end/src/renderer/services/organization/transactionGroup.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added signing counters to ITransactionNode.
  back-end/apps/api/src/transactions/dto/ITransactionNode.ts
  back-end/apps/api/src/transactions/dto/transaction-node.dto.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.spec.ts
  back-end/apps/api/src/transactions/nodes/transaction-nodes.service.ts
  back-end/apps/api/src/transactions/transactions.controller.ts
  back-end/libs/common/src/utils/transaction/index.ts
  shared/src/ITransactionNode.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Add 'External Signing' button in TransactionDetailsHeader.
  front-end/src/renderer/components/ExternalSigning/ExternalSigningActionButton.vue
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added TransactionFile interface and methods to read/write on front-end side.
  front-end/src/main/utils/transactionFile.ts
  front-end/src/preload/localUser/index.ts
  front-end/src/preload/localUser/transactionFile.ts
  front-end/src/renderer/services/transactionFile.ts
  front-end/src/shared/interfaces/TransactionFile.ts
  front-end/src/shared/interfaces/index.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Add IPC handler for readTransactionFile() and writeTransactionFile().
  front-end/src/main/modules/ipcHandlers/localUser/index.ts
  front-end/src/main/modules/ipcHandlers/localUser/transactionFile.ts
  front-end/src/main/utils/transactionFile.ts
  front-end/src/preload/localUser/transactionFile.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Added externalKeys field to SignatureAudit interface.
  front-end/src/renderer/components/Transaction/Create/BaseTransaction/BaseTransaction.vue
  front-end/src/renderer/pages/TransactionDetails/TransactionDetails.vue
  front-end/src/renderer/pages/TransactionDetails/components/TransactionDetailsHeader.vue
  front-end/src/renderer/pages/TransactionGroupDetails/TransactionGroupDetails.vue
  front-end/src/renderer/utils/index.ts
  front-end/src/renderer/utils/transactionSignatureModels/index.ts
  front-end/src/renderer/utils/transactionSignatureModels/transaction.model.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Hide ExternalSigningActionButton for now in Transactions.
  front-end/src/renderer/pages/Transactions/Transactions.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Fixed getPublicKeyOwner().
  front-end/src/renderer/services/organization/user.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

Adjust signatures in transactionGroup.ts
  front-end/src/renderer/services/organization/transactionGroup.ts
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

TransactionNodeTable emits contents of collection once nodes have been fetched.
  front-end/src/renderer/pages/Transactions/Transactions.vue
  front-end/src/renderer/pages/Transactions/components/TransactionNodeTable.vue
Owners: @hashgraph/transaction-tool, @SvetBorislavov, @yiliev0

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/transaction-tool @SvetBorislavov @yiliev0

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/LICENSE                                      @hashgraph/release-engineering-managers @hashgraph/transaction-tool

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/transaction-tool
